@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
  --font-mono: 'JetBrains Mono', ui-monospace, SFMono-Regular, monospace;
  
  --color-accent: #CCFF00;
  --color-canvas: #050505;
  --color-sidebar: #0A0A0A;
}

@layer base {
  body {
    @apply bg-canvas text-zinc-100 antialiased selection:bg-accent selection:text-black;
  }
}
